/* CUSTOM CSS HERE */
.layout-sidebar-large .sidebar-left .navigation-left .nav-item .nav-item-hold{
    padding:16px 0px;
}

.results {
    max-height: 400px;
    overflow-y: scroll;
    padding: 20px;
    position: absolute;
    z-index: 444;
    background: white;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 20px 1px rgb(0 0 0 / 6%), 0 1px 4px rgb(0 0 0 / 8%);
    border: 0;
}
.results a {
    color: #333;
    text-decoration: none!important;
    padding: 15px 5px;
    display: block;
    width: 100%;
    border-bottom: 1px solid #999;
}
.select-user {
    margin: 10px 0px;
    padding: 0!important;
    display: block;
    border: none!important;
    font-size: 15px;
    color: #333;
    border-radius: 10px;
}
.icon-bg {
    width: 100%;
    background: #eee;
    color: #351b50;
    text-align: center;
    padding: 10px 0px;
    font-size: 25px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.user-text {
    line-height: 50px;
    margin-top: 4px;
}
.select {
    display: none;
    position: absolute!important;
    right: 20px;
    top: 11px;
    padding: 10px 20px;
    cursor: pointer;
}
.select-user:hover .select {
    display: inline-block;
}
/* CUSTOM CSS HERE */
